.infoBlock {
    width: 484px;
    height: 69px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    &__mainText {
        color: grey;
        text-align: right;
        margin-right: 10px;
    }
    &__subText {
        text-align: left;
    }
}