.textarea {
    width: 404px;
    height: 138px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.88);
    padding-left: 24px;
    padding-right: 24px;
    resize: none;
    font-family: 'Inter';
    padding-top: 10px;
}
.textarea__error {
    height: 149px;
    box-shadow: 0 0 3px 1px red;
}