.checkSettings {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    &__checkboxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    font-size: 13px;
    &__values {
        span {
            margin-bottom: 5px;
        }
        display: grid;
        align-items: center;
    }
    &__values:last-child {
        margin-top: 5px;
    }
}