.modal.active {
    opacity: 1;
    display: block;
}
.modal {
    opacity: 0;
    display: none;
}
.choose__land__modal__box {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    & .header {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    
        & .arrow_box {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.17);
            text-align: center;
            margin-left: 10px;
    
            & .arrow_example_1 {
                width: 10px;
                height: 10px;
                border-top: 2px solid white !important;
                border-right: 2px solid white !important;
                transform: rotate(-135deg);
                display: inline-block;
                margin-top: 18px;
                margin-left: 3px;
                transition: 0.15s;
    
                &:hover {
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid rgba(28, 241, 255, 0.4) !important;
                    border-right: 2px solid rgba(28, 241, 255, 0.4) !important;
                }
            }
        }
    }

    & .main__menu {
        margin-top: calc(100vh - 250px);
        display: flex;
        align-items: center;
        justify-content: center;

        & button {
            background: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(40px);
            border-radius: 2px; 
            width: 218px;
            height: 100px;
            color: white;
            margin: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-size: 14px;
            
            &:hover {
                cursor: pointer;
                background: rgba(28, 241, 255, 0.06);
                border: 1px solid #1CF1FF;
                backdrop-filter: blur(40px);
                transition: 0.25s;

            }
        }
    }
}
@media screen and (max-width: 800px) {
    .choose__land__modal__box {
        & .main__menu {
            display: grid;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin-top: calc(100vh - 350px);
            grid-template-columns: repeat(3, 1fr);
           
            & button {
                font-size: 11px;
                width: 158px;
                height: 70px;
            }
            
        }
    }
}
@media screen and (max-width: 600px) {
    .choose__land__modal__box {
        & .main__menu {
            margin-top: calc(100vh - 350px);
            grid-template-columns: repeat(3, 1fr);
            
            & #block_g {
                position: absolute;
                margin-top: 280px;
            }
            & button {
                width: 158px;
                height: 70px;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .choose__land__modal__box {
        & .main__menu {
            margin-top: calc(100vh - 450px);
            grid-template-columns: repeat(2, 1fr);
            
            & #block_g {
                position: absolute;
                margin-top: 350px;
            }
            & button {
                width: 158px;
                height: 70px;
            }
        }
    }
}