.chooseMapAndArea {
    width: 452px;
    height: 176px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}