.userInfoTombStone {
    width: 467px;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 8px;
    &__avatar {
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }
    &__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 335px;
        height: 40px;
        text-align: left;
        &__title {
            font-weight: 400;
            color: white;
            font-size: 24px;
            margin-left: 32px;
        }
        &__freePlaces {
            font-weight: 400;
            margin-top: 4px;
            font-size: 20px;
            color: grey;
            margin-left: 32px;
        }
        &__mediaContent {
            display: flex;
            flex-direction: rows;
        }
        &-socialMedia {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin: 5px;
        }
    }
}