.legacy__box__form {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px); 
    font-family: 'Inter';
    font-style: normal;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    justify-content: center;
    justify-items: center;
    &-info {
        width: 1184px;
        height: 280px;
        padding: 24px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 50px;
    }
    &-payment {
        width: 1232px;
        height: 400px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        margin-top: 16px;
    }
    &-action {
        margin-top: 40px;
        button {
            width: 450px;
            height: 70px;
            background: #1CF1FF;
            border-radius: 2px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
@media screen and (max-height: 950px) {
    .legacy__box__form {
        &-info {
            margin-top: 15px;
        }
        &-payment {
            height: 270px;
        }
    }
}
