.input {
    width: 404px;
    height: 64px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.88);
    padding-left: 24px;
    padding-right: 24px;
}
.input__error {
    height: 65px;
    box-shadow: 0 0 3px 1px red;
}